{{- /*
  @context {page} page The current page.

  @example: {{ partial "carousel.html" (dict "page" .) }}
*/ -}}

<section class="carousel">
  {{ $cards := .page.Params.cards }}
  {{ range $i, $img := $cards }}
    {{ if eq $img.imageRef "placeholder" }}
      <figure class="placeholder-card" id="card-{{ $i }}">
        <a href="{{- $img.href -}}">
          <figcaption>{{- $img.title -}}</figcaption>
        </a>
      </figure>
    {{ else }}
      <figure id="card-{{ $i }}">
        <a href=$img.href>
          <img src="{{ urls.JoinPath "/images" $img.imageRef }}" alt="{{- $img.title -}}"/>
        </a>
      </figure>
    {{ end }}
  {{ end }}
</section>
