{{- /*
  Renders the Site's submitting Contact form.

  @context {site} site The site.
*/ -}}

<form id="contact-form" action="" method="post">
  <section>
    <section>
      <label for="name">First Name</label>
      <input type="text" id="name" name="name" placeholder="請輸入姓名" autocomplete="off" required />
    </section>
    <section>
      <label for="surname">Last Name</label>
      <input type="text" id="surname" name="surname" placeholder="請輸入姓名" required />
    </section>
  </section>
  <section>
    <label for="email">Email *</label>
    <input type="email" id="email" name="email" placeholder="請輸入郵件信箱" autocomplete="off" required />
  </section>
  <section>
    <label for="comment">Message</label>
    <textarea id="comment" name="comment" rows="10" cols="40" placeholder="請留下您的問題或建議"></textarea>
  </section>
  <section>
    <input type="submit" value="Send" />
  </section>
</form>
